[Unit]
Description=JF02 UDP2buffer worker instance as a service, instance %i
Requires=JF02-buffer.service
Before=JF02-buffer.service
BindsTo=JF02-buffer.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/service_scripts/JF02-buffer-worker.sh %i
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=JF02-buffer.service
