[Unit]
Description=All UDP-buffer instances of JF02

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /home/dbe/service_scripts/JF02-buffer-worker.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
