[Unit]
Description=JF03 UDP2buffer worker instance as a service, instance %i
Requires=JF03-buffer.service
Before=JF03-buffer.service
BindsTo=JF03-buffer.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/service_scripts/JF03-buffer-worker.sh %i
TimeoutStartSec=10
RestartSec=1

[Install]
WantedBy=JF03-buffer.service
