[Unit]
Description=streamvis: JF04

[Service]
User=root
TimeoutStartSec=2
ExecStart=/bin/bash ./home/dbe/service_scripts/JF04-vis.sh
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target

