[Unit]
Description=JF06 UDP2buffer worker instance as a service, instance %i
Requires=JF06-buffer.service
Before=JF06-buffer.service
BindsTo=JF06-buffer.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/service_scripts/JF06-buffer-worker.sh %i
TimeoutStartSec=10
RestartSec=1

[Install]
WantedBy=JF06-buffer.service
