[Unit]
Description=stream service (to streamvis and live analysis) of JF06

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/service_scripts/JF06-stream.sh
TimeoutStartSec=10
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target

