[Unit]
Description=JF07 replay worker instance as a service, instance %i
Requires=JF07-replay.service
Before=JF07-replay.service
BindsTo=JF07-replay.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/test/systemd/JF07-replay-worker.sh %i
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=JF07-replay.service
