[Unit]
Description=All replay instances of JF07

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /home/dbe/test/systemd/JF07-replay.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
