[Unit]
Description=JF10 UDP2buffer worker instance as a service, instance %i
Requires=JF10-buffer.service
Before=JF10-buffer.service
BindsTo=JF10-buffer.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/service_scripts/JF10-buffer-worker.sh %i
TimeoutStartSec=10
RestartSec=1

[Install]
WantedBy=JF10-buffer.service
