[Unit]
Description=streamvis: JF10

[Service]
User=root
TimeoutStartSec=2
ExecStart=/bin/bash ./home/dbe/service_scripts/JF10-vis.sh
Restart=on-failure
RestartSec=4

[Install]
WantedBy=multi-user.target

