[Unit]
Description=JF11 UDP2buffer worker instance as a service, instance %i
Requires=JF11-buffer.service
Before=JF11-buffer.service
BindsTo=JF11-buffer.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/dbe/service_scripts/JF11-buffer-worker.sh %i
TimeoutStartSec=10
RestartSec=1

[Install]
WantedBy=JF11-buffer.service
