[Unit]
Description=JF13 UDP2buffer worker instance as a service, instance %i
Requires=JF13-buffer.service
Before=JF13-buffer.service
BindsTo=JF13-buffer.service

[Service]
PermissionsStartOnly=true
Type=idle
User=root
ExecStart=/usr/bin/sh /home/writer/git/sf_daq_buffer/scripts/JF13-buffer-worker.sh %i
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=JF13-buffer.service
